.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.nav-item:hover {
  background: rgba(0,0,0,0.05);
}

.sidebar .nav-link {
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

@media (min-width: 768px) {
  .sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 56px;
      height: calc(100vh - 56px);
      overflow-y: auto;
    }

  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

@media (max-width: 575px) {
    .custom-col {
        width: 50% !important;
    }
}

@media (max-width: 425px) {
    .custom-col .card-body {
        flex-direction: column;
    }
}

@media (max-width: 329px) {
    .custom-col {
        width: 100% !important;
    }

    .custom-col .card-body {
        flex-direction: row;
    }
}