@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* Different devices breakpoint */
    /* @media (min-width: var(--landscape-phones-breakpoint)) { ... } */
    --landscape-phones-breakpoint: 576px;
    --tablets-breakpoint: 768px;
    --desktops-breakpoint: 992px;
    --large-desktops-breakpoint: 1200px;
    --larger-desktops-breakpoint: 1400px;
}

.hidden-menu {
    transition: 0.3s ease;
    transition-delay: 4s;
    animation: slideOut 2s forwards;
}

.show-menu {
    height: 0;
    transition: 0.3s ease;
    transition-delay: 11s;
    animation: slideIn 2s forwards;
}

@keyframes slideOut {
0% {
}
80% {
    transform: translateX(-500px);
    height: 0;
}
100% {
    transform: translateX(-500px);
    height: 0;
}
}

@keyframes slideIn {
0% {
    transform: translateX(-500px);

}
80% {
    transform: translateX(0);
    height: 100%;
}
100% {
    transform: translateX(0);
    height: 100%;
}
}