@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* Different devices breakpoint */
    /* @media (min-width: var(--landscape-phones-breakpoint)) { ... } */
    --landscape-phones-breakpoint: 576px;
    --tablets-breakpoint: 768px;
    --desktops-breakpoint: 992px;
    --large-desktops-breakpoint: 1200px;
    --larger-desktops-breakpoint: 1400px;
    --bg-1: white;
    --bg-light-grey: #ebedf2 !important;
    --bg-nav-btn: #cce5ff;
    --border-nav-btn: 1px solid #b8daff;
    --color-nav-btn: #034286;
}

.btn-nav {
    background-color: var(--bg-nav-btn);
    border: var(--border-nav-btn);
    color: var(--color-nav-btn) !important;
}

.hidden-menu {
    transition: 0.3s ease;
    transition-delay: 4s;
    animation: slideOut 2s forwards;
}

.show-menu {
    height: 0;
    transition: 0.3s ease;
    transition-delay: 11s;
    animation: slideIn 2s forwards;
}

@keyframes slideOut {
0% {
}
80% {
    transform: translateX(-500px);
    height: 0;
}
100% {
    transform: translateX(-500px);
    height: 0;
}
}

@keyframes slideIn {
0% {
    transform: translateX(-500px);

}
80% {
    transform: translateX(0);
    height: 100%;
}
100% {
    transform: translateX(0);
    height: 100%;
}
}

@media (min-width : 992px) {
    #offcanvasNavbar {
        max-width: fit-content !important;
    }
}

@media (max-width: 515px) {
    .row-to-column {
        flex-direction: column;
        gap: 1em;
        transition: 0.3s;
    }

    .row-to-column a, .row-to-column a button  {
        justify-content: center !important;
        width: 100% !important;
    }
}